Body {
    opacity: .8;
    background-image: url("./images/homepageAres.jpg"),url("./images/folk-pattern-black.png");
    background-repeat: no-repeat, repeat;
    background-color: rgb(66, 67, 66);
    
  }
  